.nav-wrap {
  padding: 10px;
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  margin-left: 200px;
}

.nav-wrap li {
  color: var(--main2);
}
.nav-wrap li:hover {
  color: var(--main3);
}
.wirte-btn {
  justify-items: right;
}
.green {
  background-color: var(--main2);
}
.text-zone {
  margin-top: 30px;
  height: 300px;
  padding-bottom: 50px;
}
.text-zone > .quil {
  height: 500px;
}
.ql-editor > p {
  height: 300px;
}
.rate {
  display: flex;
  justify-content: center;
}
.review-container {
  display: flex;
  gap: 20px;
}

.place-info {
  width: 200px;
  text-align: center;
}

.place-image {
  width: 100%;
  border-radius: 8px;
}

.review-form {
  flex-grow: 1;
}
