.chat-btn svg {
  fill: var(--main2);
}

.chat-modal > div {
  background-color: aliceblue;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.chat-modal > .chat-list {
  width: 30%;
}
.chat-modal > .chat-room {
  width: 70%;
  gap: 20px;
}
.chat-modal > .chat-list {
  width: 30%;
  gap: 20px;
}
.chat-list > .content-top {
  display: flex;
  justify-content: space-between;
  padding: 10px 40px;
  margin-top: 50px;
}

.chat-list > .content-middle {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 20px;
  align-self: center;
  width: 100%;
  min-height: 70%;
}
.chat-list > .content-middle > div {
  height: 40px;
  line-height: 40px;
  padding: 0px 40px;
  display: flex;
  justify-content: space-between;
}
.chat-list .selected-room {
  background-color: var(--main2);
}
.chat-list .selected-room * {
  color: var(--gray8);
}
.chat-list > .content-middle > div:hover {
  background-color: var(--main2);
}
.chat-list > .content-middle > div:hover * {
  color: var(--gray8);
}
.content-middle .room-title {
  display: flex;
  gap: 10px;
}
.chat-room > .content-top {
  display: flex;
  justify-content: space-between;
  padding: 10px 40px;
  margin-top: 10px;
  border-bottom: 1px solid var(--gray6);
}
.chat-room > .content-middle {
  border-radius: 20px;
  align-self: center;
  width: 80%;
  min-height: 70%;
}

.chat-room > .content-bottom {
  align-self: center;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  padding: 40px;
  box-sizing: border-box;
  gap: 50px;
  align-items: center;
}
.chat-room > .content-bottom > input {
  width: 80%;
  border-radius: 20px;
  border: none;
  height: 60px;
  text-indent: 20px;
}
.chat-room > .content-bottom > button {
  height: 40px;
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.chat-room > .content-bottom > button path {
  color: var(--gray8);
}
