/*관리자 페이지 기본*/
.admin-wrap {
  display: flex;
  gap: 10px;
}
.admin-wrap .content-wrap {
  width: 80%;
}
.admin-wrap .content-wrap h2 {
  padding: 10px 0px;
}
.admin-menu button {
  padding: 0px 20px;
  font-family: ns-r;
  font-size: 20px;
}
.admin-menu .MuiTabs-list {
  gap: 20px;
}
.admin-wrap .admin-menu .Mui-selected {
  background-color: var(--gray8);
  color: var(--main2);
}
.admin-menu .MuiTabs-indicator {
  background-color: var(--main2);
  width: 5px;
}
.admin-wrap .border {
  margin: 0 auto;
  width: 95%;
  border: 1px solid var(--main2);
  border-radius: 10px;
}
/*관리자 메인*/
.admin-wrap .section {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.stats > .total-title {
  padding: 10px;
}
.stats > .total-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}
.total-content .description {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  text-align: center;
}
.total-content .description > h4 {
  background-color: var(--main2);
  padding: 10px;
  color: var(--gray8);
}
.total-content .description > div {
  padding: 10px;
}

/*정보수정*/
.update-info .info-title {
  display: flex;
  padding: 10px 0px;
}

.section-title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 24px;
}

.update-info .info-grid {
  margin: 0 auto;
  width: 95%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px 40px;
}

.info-block {
  display: flex;
  flex-direction: column;
  padding-bottom: 8px;
}

.info-block label {
  font-size: 18px;
  color: var(--gray2);
  margin-bottom: 6px;
}
.info-block input {
  padding: 10px;
  border: 1px solid var(--main2);
  border-radius: 5px;
  font-family: ns-r;
  margin: 0;
}
.info-block input:not(:read-only):focus {
  border: 2px solid var(--main2);
}

/*이벤트관리*/
.event-page {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.event-page .ongoing-wrap {
  padding: 20px 10px;
}
.event-page section > h2 {
  padding-bottom: 20px;
}
.event-list {
  display: flex;
  justify-content: space-evenly;
}
.event-list .event-thumbnail {
  height: 200px;
}
.event-list .event-card {
  width: 30%;
}
/*키워드 관리*/
.keyword-table-wrapper {
  display: flex;
  gap: 24px;
  justify-content: space-between;
  flex-wrap: wrap;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.keyword-table-section {
  flex: 1;
  min-width: 220px;
  max-width: 260px;
}

.keyword-section-title {
  font-size: 16px;
  font-weight: bold;
  padding: 5px;
  text-align: center;
}

.keyword-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
}

.keyword-table thead {
  background-color: var(--main2);
}

.keyword-table th {
  color: var(--gray8);
  font-family: ns-r;
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}
.keyword-table td {
  padding: 8px;
  text-align: center;
}

.keyword-table tbody tr:nth-child(even) {
  background-color: #fafafa;
}
.hot-keyword-wrap > .popular {
  margin: 0 auto;
  width: 95%;
  border: 1px solid var(--main2);
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.insert .info-grid {
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  justify-content: center;
  width: 90%;
}
.insert > form {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  height: 400px;
}

.keyword-manage {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.keyword-manage .css-ei5fq0-MuiAutocomplete-root {
  margin: 0 45px;
  width: 40%;
  align-self: flex-start;
}
.keyword-manage h3 {
  padding: 20px 0px;
}
.insert .input-wrap {
  padding: 20px;
}
.input-wrap .MuiOutlinedInput-root {
  border-radius: 4px;
  font-size: 14px;
  height: 40px;
  width: 100%;
}
.autocomplete .MuiInputBase-root {
  width: 100%;
}

.keyword-manage .keyword-submit {
  display: block;
  background-color: var(--main2);
  color: var(--gray8);
  border-radius: 5px;
  font-size: 15px;
  font-family: ns-r;
  margin: 10px auto;
  width: 60px;
}
.keyword-manage .keyword-submit:hover {
  background-color: var(--main3);
}

.check .autocomplete .MuiInputBase-root {
  width: 350px;
}
.keyword-manage > .check > form {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0px 20px;
  width: 100%;
}
.keyword-manage > .check > form button {
  margin: 0px;
  align-self: flex-end;
}

/* 기본 테두리 색상 */
.input-wrap .MuiOutlinedInput-notchedOutline {
  border-color: #ccc;
}

/* hover 시 초록색 */
.input-wrap .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
  border-color: #27b778;
}

/* focus 시 초록색 */
.input-wrap
  .MuiOutlinedInput-root.Mui-focused
  .MuiOutlinedInput-notchedOutline {
  border-color: #27b778;
}
/*리뷰 관리*/
.hot-review-wrap .hot-review-title {
  display: flex;
  justify-content: space-between;
  height: 50px;
  align-items: center;
}
.hot-review-title .MuiSelect-root {
  width: 150px;
  height: 40px;
  color: #333;
  background-color: white;
}
.admin-wrap .review-tbl {
  margin: 0 auto;
}
.review-tbl tbody .review-hover:hover {
  color: var(--main2);
  font-family: ns-b;
  cursor: pointer;
}

.report-review tbody td {
  height: 50px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/* 호버 시 */
.hot-review-title
  .MuiOutlinedInput-root:hover
  .MuiOutlinedInput-notchedOutline {
  border-color: var(--main2); /* 원하는 색상 */
}

/* 포커스 시 */
.hot-review-title
  .MuiOutlinedInput-root.Mui-focused
  .MuiOutlinedInput-notchedOutline {
  border-color: var(--main2); /* 포커스 시 테두리 색 */
}

/* 드롭다운 화살표 */
.hot-review-title .MuiSelect-icon {
  color: #888;
}

/*회원 관리*/
.member-tbl-wrap .member-tbl {
  border-top: 1px solid var(--main3);
  width: 100%;
  border-spacing: 0;
}
.review-tbl tbody .review-hover:hover {
  color: var(--main2);
  font-family: ns-b;
  cursor: pointer;
  text-align: center;
}

.member-tbl select {
  padding: 4px 6px;
  font-size: 14px;
  text-align: center;
}
.member-tbl button {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 6px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.member-tbl button:hover {
  background-color: #d32f2f;
}
