/*관리자 페이지 기본*/
.admin-wrap {
  display: flex;
  gap: 10px;
}
.admin-wrap .content-wrap {
  width: 75%;
}

.admin-menu button {
  padding: 0px 20px;
  font-family: ns-r;
  font-size: 20px;
}
.admin-menu .MuiTabs-list {
  gap: 20px;
}
.admin-wrap .admin-menu .Mui-selected {
  background-color: var(--gray8);
  color: var(--main2);
}
.admin-menu .MuiTabs-indicator {
  background-color: var(--main2);
  width: 5px;
}
/*관리자 메인*/
.admin-wrap .section {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.stats > .total-title {
  padding: 10px;
}
.stats > .total-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}
.update-info .info-title {
  display: flex;
  padding: 10px 0px;
}

.section-title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 24px;
}

.info-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px 40px;
}

.info-block {
  display: flex;
  flex-direction: column;
  padding-bottom: 8px;
}

.info-block label {
  font-size: 18px;
  color: var(--gray2);
  margin-bottom: 6px;
}
.info-block input {
  padding: 10px;
  border: 1px solid var(--main2);
  border-radius: 5px;
  font-family: ns-r;
  margin: 0;
}
.info-block input:not(:read-only):focus {
  border: 2px solid var(--main2);
}

/*이벤트관리*/
.event-page {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.event-page section > h2 {
  padding-bottom: 40px;
}
.event-list {
  display: flex;
  justify-content: space-evenly;
}
.event-list .event-thumbnail {
  height: 200px;
}
.event-list .event-card {
  width: 30%;
}
/*리뷰 관리*/
