.admin-wrap {
  display: flex;
  gap: 10px;
}

.admin-menu button {
  padding: 0px 20px;
  font-family: ns-r;
  font-size: 20px;
}
.admin-menu .MuiTabs-list {
  gap: 20px;
}
.admin-wrap .admin-menu .Mui-selected {
  background-color: var(--gray8);
  color: var(--main2);
}
.admin-menu .MuiTabs-indicator {
  background-color: var(--main2);
  width: 5px;
}
