.mypage-wrap {
  width: 1200px;
  display: flex;
  margin: 0 auto;
  gap: 10px;
}
.mypage-side {
  width: 20%;
}
.mypage-content {
  flex-grow: 1;
}
.account-box {
  margin-bottom: 20px;
}
.account-box > div {
  font-size: 20px;
  font-family: ns-b;
  text-align: center;
  color: var(--main2);
}

.mypage-menu-title {
  font-size: 30px;
}

.user-profile-upload > img {
  width: 340px;
  cursor: pointer;
}
