.all-wrap {
  display: flex;
  position: relative;
  height: 100vh;
}

.side-header {
  width: 300px;
  /* height: 100px; */
}
.search-wrap {
  background-color: #5085bb;
}
.filter-wrap {
  display: flex;
  margin-top: 20px;
  background-color: var(--gray7);
}
.filter-wrap > div {
  flex-grow: 1;
  height: 40px;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
}
.filter-wrap > div:hover {
  background-color: var(--gray6);
}
.sort-wrap {
  display: flex;
  justify-content: end;
  margin: 10px;
}

.spot-list {
  width: 300px;
  height: 796px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
}
.spot-item {
  width: 235px;
  /* height: 190px; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* border: 1px solid black; */
  position: relative;
  margin-bottom: 25px;
}
.spot-img {
  width: 235px;
  height: 118px;
  border-radius: 8px;
  margin-bottom: 5px;
}
.spot-title {
  margin-right: 8px;
  letter-spacing: -1px;
  font-size: 18px;
}
.spot-type {
  letter-spacing: -0.3px;
  font-size: 15px;
}
.spot-addr {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  word-break: break-all;
}
.spot-review-wrap {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}
.spot-rating-star {
  letter-spacing: -3px;
  font-size: 14px;
  margin-right: 5px;
}
.spot-rating-avg {
  font-weight: 700;
  font-size: 14px;
}

.star-rating {
  position: relative;
  display: inline-block;
  font-size: 16px;
  line-height: 1;
}
.star-rating .back-stars {
  color: var(--gray7);
}
.star-rating .front-stars {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  color: gold;
}

.spot-review-count {
  margin-left: 4px;
  font-weight: bold;
  font-size: 14px;
}
.spot-btn {
  position: absolute;
  right: 0;
  bottom: 0;
}
.spot-btn > button {
  width: 33px;
  height: 22px;
  border: none;
  border-radius: 5px;
  font-weight: 700;
}
.spot-btn > button:hover {
  background-color: var(--main5);
}
.plan-window {
  width: 300px;
  height: 98%;
  background-color: var(--gray8);
  border: 1px solid var(--gray7);
  position: absolute;
  left: 310px;
  top: 1%;
  z-index: 1;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4), 0 1px 3px rgba(0, 0, 0, 0.08);
}
.plan-window {
  transform: scale(80%);
  animation: window-animation 0.3s forwards;
}
@keyframes window-animation {
  from {
    transform: scale(95%);
  }
  to {
    transform: scale(100%);
  }
}
.close-btn {
  position: absolute;
  right: 0;
  cursor: pointer;
}
.plan-window-btn {
  position: absolute;
  left: 310px;
  margin-top: 10px;
  z-index: 1;
  width: 42px;
  height: 42px;
  background-color: var(--gray8);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  border-radius: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;

  transition: transform 0.3s ease;
}
.plan-window-btn:hover {
  background-color: var(--main5);
}
.plan-window-btn:active {
  transform: scale(50%);
}
.plan-window-btn > p {
  font-size: 10px;
  font-weight: bold;
}

.modal-background {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 1920px;
  height: 953px;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.3);
}
.planning-modal {
  position: relative;
  width: 400px;
  height: 300px;
  background-color: var(--gray8);
  z-index: 3;
}

.map-wrap {
  width: calc(100% - 300px);
  height: 953px;
  z-index: 0;
}
.overlay-wrap {
  position: absolute;
  left: 0;
  bottom: 40px;
  width: 288px;
  height: 132px;
  margin-left: -144px;
  text-align: left;
  overflow: hidden;
  font-size: 12px;
  line-height: 1.5;
}
.overlay-wrap * {
  padding: 0;
  margin: 0;
}
.overlay-wrap .overlay-info {
  width: 286px;
  height: 120px;
  border-radius: 5px;
  border-bottom: 2px solid #ccc;
  border-right: 1px solid #ccc;
  overflow: hidden;
  background: #fff;
}
.overlay-wrap .overlay-info:nth-child(1) {
  border: 0;
  box-shadow: 0px 1px 2px #888;
}
.overlay-info .overlay-title {
  padding: 5px 0 0 10px;
  height: 30px;
  background: #eee;
  border-bottom: 1px solid #ddd;
  font-size: 18px;
  font-weight: bold;
}
.overlay-info .overlay-close {
  position: absolute;
  top: 7px;
  right: 15px;
  color: #888;
  width: 17px;
  height: 17px;
  /* background: url("https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/overlay_close.png"); */
}
.overlay-info .overlay-close:hover {
  cursor: pointer;
}
.overlay-info .overlay-body {
  position: relative;
  overflow: hidden;
}
.overlay-info .overlay-desc {
  position: relative;
  margin: 13px 0 0 90px;
  height: 75px;
}
.overlay-desc .overlay-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.overlay-desc .jibun {
  font-size: 11px;
  color: #888;
  margin-top: -2px;
}
.overlay-info .overlay-img {
  position: absolute;
  top: 6px;
  left: 5px;
  width: 73px;
  height: 71px;
  border: 1px solid #ddd;
  color: #888;
  overflow: hidden;
}
.overlay-info:after {
  content: "";
  position: absolute;
  margin-left: -12px;
  left: 50%;
  bottom: 0;
  width: 22px;
  height: 12px;
  background: url("https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png");
}
.overlay-info .overlay-link {
  color: #5085bb;
}
