.all-wrap {
  display: flex;
  position: relative;
  height: 100vh;
}

.side-header {
  width: 300px;
  /* height: 100px; */
}
.planner-logo {
  width: 100%;
  margin: 0;
}
.search-wrap {
  background-color: var(--main2);
}

/* 장소 필터링 */
.filter-wrap {
  display: flex;
  margin-top: 20px;
  background-color: var(--gray7);
}
.filter-wrap > div {
  flex-grow: 1;
  height: 40px;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
}
.filter-wrap > div:hover {
  background-color: var(--gray6);
}
.filter-pressed {
  background-color: var(--gray6);
  font-weight: bold;
  position: relative;
}
.filter-reset-btn {
  cursor: pointer;
  position: absolute;
  right: 0;
  width: 16px !important;
  height: 16px !important;
}
.filter-reset-btn:hover > :first-child {
  color: tomato;
}

/* 장소 정렬 */
.sort-wrap {
  display: flex;
  justify-content: end;
  margin: 10px;
}

/* 장소 리스트 */
.place-list {
  width: 300px;
  height: 733px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  overflow-x: hidden;
}
.place-item {
  width: 235px;
  /* height: 190px; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* border: 1px solid black; */
  position: relative;
  margin-bottom: 25px;
}
.place-img {
  width: 235px;
  height: 118px;
  border-radius: 8px;
  margin-bottom: 5px;
}
.place-titlename {
  margin-right: 8px;
  letter-spacing: -1px;
  font-size: 17px;
}
.place-type {
  letter-spacing: -0.3px;
  font-size: 15px;
  color: var(--gray4);
}
.place-addr {
  letter-spacing: -1px;
  font-size: 14px;
  color: var(--gray3);
}
.place-ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  word-break: break-all;
}
.place-review-wrap {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}
.place-rating-star {
  letter-spacing: -3px;
  font-size: 14px;
  margin-right: 5px;
}
.place-rating-avg {
  font-weight: 700;
  font-size: 14px;
}
.place-review-count {
  margin-left: 4px;
  font-weight: bold;
  font-size: 14px;
}
.place-btn {
  position: absolute;
  right: 0;
  bottom: 0;
}
.place-btn > button {
  width: 33px;
  height: 22px;
  border: none;
  border-radius: 5px;
  font-weight: 700;
}
.place-btn > button:hover {
  background-color: var(--main2);
  color: var(--gray8);
}

/* 플래너(계획표) */
.planner-wrap {
  width: 300px;
  min-height: 200px;
  max-height: 96%;
  padding: 10px;
  background-color: var(--gray8);
  border: 1px solid var(--gray7);
  position: absolute;
  left: 310px;
  top: 1%;
  z-index: 1;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4), 0 1px 3px rgba(0, 0, 0, 0.08);
  transform: scale(80%);
  animation: window-animation 0.3s forwards;
  overflow-y: scroll;
}
.planner-wrap.full {
  position: relative;
  left: 0;
  top: 1%;
  height: 100%;
}
@keyframes window-animation {
  from {
    transform: scale(95%);
  }
  to {
    transform: scale(100%);
  }
}
.close-btn {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  z-index: 1;
}
.planner-close-btn {
  position: absolute;
  left: 310px;
  margin-top: 10px;
  z-index: 1;
  width: 42px;
  height: 42px;
  background-color: var(--gray8);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  border-radius: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  transition: transform 0.3s ease;
}
.planner-close-btn.full {
  left: 50px;
}
.planner-close-btn:hover {
  background-color: var(--main5);
}
.planner-close-btn:active {
  transform: scale(50%);
}
.planner-close-btn > p {
  font-size: 10px;
  font-weight: bold;
}
.plan-name {
  margin: 0 0 20px 8px;
}
.plan-name input {
  border: none;
  font-size: 20px;
  margin: 15px 0 0 15px;
}
.plan-name-shadow {
  color: var(--gray6);
  position: absolute;
  text-align: center;
}
.planned-item {
  display: flex;
  padding: 10px 0 0 15px;
}
.planned-img {
  border-radius: 12px;
  object-fit: cover;
  margin-right: 10px;
}
.planned-transport {
  font-size: 14px;
}
.planned-date {
  text-align: center;
  font-size: 14px;
  color: var(--gray4);
}
.planner-del-btn > svg {
  cursor: pointer;
}
.planned-item .place-titlename {
  font-size: 14px;
}
.planned-item .place-item {
  width: 100%;
}
.empty-plan {
  position: absolute;
  top: 40%;
  left: 25%;
}

/* 저장 모달 */
.save-modal {
  width: 350px !important;
}
.save-readme {
  width: 80%;
  margin-bottom: 8px;
}
.save-readme :first-child {
  font-size: 13px;
  color: var(--gray5);
}
.save-modal .planning-input {
  width: 80%;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.plan-name-box input {
  border: none;
  border-bottom: 1px solid var(--gray5);
  padding-left: 7px;
  margin-left: 7px;
}
.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.loading-overlay p {
  color: var(--gray8);
}
.spinner {
  width: 40px;
  height: 40px;
  border: 4px solid var(--main2);
  border-top: 4px solid transparent;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin-bottom: 10px;
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/* 여행지에 추가하기 모달 */
.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 1920px;
  height: 953px;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.4);
}
.planning-modal {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: relative;
  width: 400px;
  background-color: var(--gray8);
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 5px 50px 5px;
  border-radius: 10px;
}
.planning-info {
  margin-left: 20px;
  display: flex;
  justify-content: center;
}
.planning-info .place-item {
  width: 300px;
}
.planning-info .planned-img {
  width: 70px;
  height: 70px;
}
.date-input {
  margin-bottom: 20px;
}

/* 슬라이더 및 버튼 */
.radius-slider {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;
  background-color: var(--gray7);
}
.planner-handler-wrap {
  position: absolute;
  top: 60px;
  right: 50px;
  z-index: 1;
}
.save-plan-btn button {
  width: 100px;
  height: 50px;
  border-radius: 10px;
  font-size: 20px;
}
.map-search-btn {
  position: absolute !important;
  z-index: 2;
  left: 50%;
  top: 15px;
  border-radius: 20px !important;
  background-color: var(--gray8) !important;
}

/* 카카오 맵 */
.map-wrap {
  width: calc(100% - 300px);
  height: 953px;
  z-index: 0;
}
.overlay-wrap {
  position: absolute;
  left: 0;
  bottom: 40px;
  width: 288px;
  height: 152px;
  margin-left: -144px;
  text-align: left;
  overflow: hidden;
  font-size: 12px;
  line-height: 1.5;
}
.overlay-wrap * {
  padding: 0;
  margin: 0;
}
.overlay-wrap .overlay-info {
  width: 286px;
  /* height: 140px; */
  border-radius: 5px;
  border-bottom: 2px solid #ccc;
  border-right: 1px solid #ccc;
  overflow: hidden;
  background: #fff;
}
.overlay-wrap .overlay-info:nth-child(1) {
  border: 0;
  box-shadow: 0px 1px 2px #888;
}
.overlay-info .overlay-title {
  padding: 5px 0 5px 10px;
  background: var(--gray7);
  border-bottom: 1px solid var(--gray5);
  font-size: 16px;
  font-weight: bold;
  letter-spacing: -0.5px;
  display: flex;
  align-items: flex-start;
  white-space: normal;
  word-break: break-all;
}
.overlay-title-name {
  width: 240px;
  display: flex;
  flex-grow: 1;
  align-items: center;
}
.overlay-title-name > :first-child {
}
.overlay-info .overlay-class {
  width: 110px;
  margin-left: 6px;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: -1px;
  color: var(--gray4);
}
.overlay-info .overlay-close {
  position: absolute;
  top: 7px;
  right: 7px;
}
.overlay-info .overlay-close:hover {
  cursor: pointer;
}
.overlay-info .overlay-body {
  position: relative;
  overflow: hidden;
  height: 106px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  /* margin-top: 10px; */
  margin-left: 5px;
}
.overlay-info .overlay-desc {
  position: relative;
  width: 180px;
  /* margin: 0 0 0 90px; */
  height: 80px;
}
.overlay-addr {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 13px;
}
.overlay-desc .overlay-rating {
  font-size: 11px;
  /* margin-top: -2px; */
  margin-bottom: 21.5px;
  letter-spacing: -1px;
}
.overlay-info .overlay-img {
  /* position: absolute; */
  width: 85px;
  height: 80px;
  border: 1px solid #ddd;
  color: #888;
  overflow: hidden;
  margin-right: 10px;
}
.overlay-img > img {
  object-fit: cover;
}
.overlay-info:after {
  content: "";
  position: absolute;
  margin-left: -12px;
  left: 50%;
  bottom: 0;
  width: 22px;
  height: 12px;
  background: url("https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png");
}
.overlay-info .overlay-link {
  color: #5085bb;
  cursor: pointer;
  font-size: 13px;
}
/* 지도 위 그림들 */
.arrow-marker {
  font-size: 20px;
  display: inline-block;
  transform-origin: center;
}
.numbered-marker {
  background-color: tomato;
  border-radius: 50%;
  width: 15px;
  height: 15px;
}
.marker-circle {
  line-height: 15px;
  font-size: 15px;
  color: white;
  text-align: center;
}

/* 가이드 모달 */
.planner-guide-modal {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 777;
}
.planner-guide-modal img {
  display: block;
}
.guide-modal-btn {
  bottom: 20px;
  right: 20px;
  left: unset;
}

/* 페이지네이션 관련 */
.place-list .pagination li {
  width: 30px;
}
