/*PlaceList*/
.PlaceList-side {
  width: 20%;
}
.page-content {
  width: 1200px;
  display: flex;
  gap: 10px;
}

.menu-box {
  width: 200px;
}

.menu-box li {
  display: flex;
  justify-content: space-between;
  height: 50px;
  align-items: center;
  cursor: pointer;
}

.option-box {
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
}
.option-box > div:last-child {
  cursor: pointer;
}
.place-wrap {
  overflow: hidden;
  padding: 10px;
}

.place-wrap > .card:hover {
  background: white;
  border-radius: 16px;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
}

.card-grid .card-content > .rating {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #444;
  margin: 6px 0;
}

.card-grid .rating > .stars {
  margin-right: 6px;
}

.card-grid .card-content > .category {
  font-size: 13px;
  color: #555;
}

/*place detail*/

.place-detail-wrap {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 20px;
  font-family: "sans-serif";
}
.place-detail-header {
  margin-bottom: 20px;
}
.detail-header-cat {
  display: flex;
  gap: 8px;
  font-size: 14px;
  color: #4caf50;
  font-weight: 600;
}
.detail-header-title .detail-title {
  font-size: 28px;
  margin: 8px 0;
}
.detail-header-info {
  font-size: 14px;
  color: #555;
  display: flex;
  justify-content: space-between;
}
.share-like-box {
  display: flex;
  gap: 10px;
}
.share-like-box > .share-icon,
.like-icon {
  cursor: pointer;
}
/* 이미지 영역 */
.place-detail-image {
  display: flex;
  gap: 12px;
  margin-bottom: 30px;
}
.detail-img1 {
  flex: 2;
  height: 340px;
  object-fit: cover;
  border-radius: 12px;
}
.detail-img2,
.detail-img3,
.detail-img4 {
  flex: 1;
  height: 110px;
  object-fit: cover;
  border-radius: 12px;
  background-size: cover;
  background-position: center;
}
/* 내용과 info 박스 */
.place-detail-content {
  display: flex;
  gap: 30px;
  margin-bottom: 40px;
}
.main-description {
  flex: 3;
  font-size: 15px;
  line-height: 1.6;
  color: #333;
}
.info-box {
  flex: 1;
  background: #f9f9f9;
  padding: 20px;
  border-radius: 12px;
  font-size: 14px;
  color: #333;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}
.info-item {
  margin-bottom: 16px;
}
.info-item strong {
  display: block;
  margin-bottom: 4px;
  color: #222;
}

.detail-header-info path {
  color: var(--main3);
}

/* 리뷰 영역 */
.place-detail.page-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px 0 20px;
}
.page-title h2 {
  font-size: 22px;
}
.btn-primary.green {
  padding: 8px 16px;
  background: #4caf50;
  color: white;
  border-radius: 6px;
  text-decoration: none;
}
.review-wap .posting-wrap {
  list-style: none;
  padding: 0;
}
