.footer {
  background: #00f260; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    var(--gray8),
    var(--main6) 50%,
    var(--main2)
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    var(--gray8),
    var(--main6) 50%,
    var(--main2)
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;

  position: relative;
  height: 280px;
  padding: 10px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background-color: var(--main1);
}
.footer p {
  margin: 10px 0px;
  font-family: ns-b;
  font-size: 16px;
  color: var(--main1);
}
.footer a {
  color: var(--main1);
}
.footer > .contact-wrap {
  width: 1200px;
  padding-top: 60px;
  display: flex;
  gap: 50px;
}

.footer-logo {
  width: 100px;
  align-self: center;
}

.footer-info {
  list-style: none;
  padding: 0;
  font-size: 14px;
  line-height: 1.8;
}
.footer-left {
  display: flex;
  flex-direction: column;
}
.footer-text {
  display: flex;
  gap: 20px;
}
.footer-right {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer-subtitle {
  font-size: 14px;
  margin-bottom: 6px;
}
.footer-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.4;
}

.footer-right > .copyright {
  text-align: center;
}
.social-btn-wrap {
  display: flex;
  justify-content: center;
  padding: 20px;
  gap: 50px;
}
.footer-right > .link-wrap {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}
.link-wrap > div > h3 {
  padding-bottom: 10px;
}
.link-wrap > div > p {
  margin: 0 7px;
}
