.card2 {
  width: calc(100% / 2);
  overflow: hidden;
  background-color: var(--gray8);
  padding: 0px;
  float: left;
  box-sizing: border-box;
  padding: 20px 62px;
  cursor: pointer;
}

.card2:hover {
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1), 2px 0 5px rgba(0, 0, 0, 0.1);
}

.card2 > .image-container {
  position: relative;
  width: 100%;
  height: 192px; /* 48px * 4 */
  border-radius: 16px;
  overflow: hidden;
}

.image-container > .card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-container > .heart-icon {
  position: absolute;
  top: 8px;
  right: 8px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 50%;
  padding: 4px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
}

.card2 > .card-content {
  padding: 12px 0;
  display: flex;
  flex-direction: column;
}

.card2-content > .location {
  color: var(--main2);
  font-size: 14px;
  margin: 0;
}

.card-content > .location {
  color: var(--main2);
  font-size: 14px;
  margin: 0;
}

.card2-content > .title {
  font-size: 18px;
  font-weight: bold;
  height: 45px;
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2; /* 최대 2줄 표시 */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: keep-all; /* 단어 단위로 끊기도록 */
  letter-spacing: 2px;
  padding: 8px 0;
}

.card2-content > .rating {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #555;
  margin-bottom: 6px;
}

.rating > .stars {
  color: #4caf50;
  margin-right: 4px;
}

.rating > .score {
  color: #444;
}

.card2-content > .category {
  font-size: 14px;
  color: #777;
  margin: 0;
}

.place-wrap {
  overflow: hidden;
}

.place-wrap > .card {
  width: calc(100% / 3);
  float: left;
  padding: 20px;
  box-sizing: border-box;
}
